@{
    ViewData["Title"] = "Home Page";
}

<div class="parchment-box text-center">

    <h1 class="dungeon-title">Welcome to Dungeon Sweeper</h1>

    <p>Clear the dungeon... if you dare.</p>

    <!-- DUNGEON SWEEPER IMAGE -->
    <<div class="text-center mt-4">
        <div class="halo-container">
            <img src="/img/dungeonSweeper.png"
                 alt="Dungeon Sweeper Logo"
                 class="img-fluid floating-image"
                 style="max-width: 500px; width: 80%; image-rendering: pixelated;" />
        </div>
    </div>


</div>
